superSampling = 1.0
drawDesktopWindow = true
menuSize = 1.0
overlaySize = 1.0
overlayTranslateX = 0.0
overlayTranslateY = 0.0
overlayTranslateZ = 0.0
; 1 = roll, 2 = pitch, 3 = pitch+roll
lockToHorizon = 0
debug = false
renderMainMenu3d = false
renderPauseMenu3d = true
renderPreStage3d = false